@using Assignmentt.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Sach>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Views/MasterStyle1.css" rel="stylesheet" />
    <link rel="stylesheet" href=" https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}



<style>
    .count-number {
        background-color: white;
        font-size: 1.6rem;
        color: red;
        border: 20px;
    }

    .counter-text {
        color: white;
    }

    .slideshow-container {
        position: relative;
        text-align: center;
    }

    .mySlides {
        display: none;
    }

        .mySlides img {
            height: 600px; /* Thay đổi chiều cao tối đa nếu cần */
            width: 500px;
            margin-left: 90px; /* Căn giữa hình ảnh theo chiều ngang */
            display: block;
        }

    .slide-controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .prev {
        left: 0;
        float: left; /* Đặt nút prev bên trái */
        font-size: 30px;
        cursor: pointer;
        margin-left: 75px;
        position: relative;
        top: -300px;
    }

    .next {
        right: 0;
        float: right; /* Đặt nút next bên phải */
        font-size: 30px;
        cursor: pointer;
        position: relative;
        margin-right: 530px;
        position: relative;
        top: -300px; /* Điều chỉnh giá trị này để di chuyển lên hoặc xuống */
    }


    .hero-banner {
        margin: 0 auto;
        display: flex;
        width: 1200px;
        padding: 0px 0px;
    }

    .banner-left {
        margin: 0 !important;
        width: 66.67% !important;
    }

    .banner-right {
        width: 33.33% !important;
    }

        .banner-right img {
            width: 100%;
            object-fit: cover;
            margin-left: 10px;
        }

    .underposter {
        background-color: aliceblue;
        width: auto !important;
        height: 70px !important;
    }

    .sale img {
        margin-left: 30px !important;
    }

    .flashsale {
        background-color: darkred !important;
        width: 700px;
        height: 1000px;
    }

    .img-fls {
        width: 10px;
        height: 10px;
        margin-left: 30px;
    }


    .product-suggestions {
        margin: 0px !important;
        margin-left: 20px;
    }

    #div-pro-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px 5px 20px 5px;
    }

    .icon-sale-containter {
        display: flex;
    }

    .box-pro {
        width: 25%;
        padding: 10px;
        border-radius: 5px 5px 0px 0px;
        border: 0px solid #ccc; /* Đường viền */
        padding: 10px; /* Khoảng cách bên trong sản phẩm */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Hiệu ứng bóng đổ */
    }

    .size-img {
        height: auto;
        width: 100%;
        border-radius: 5px 5px 0px 0px;
    }

    .margin-des {
    }

    .margin-des-1 {
        margin-right: 20px;
        color: #505451;
    }

    .margin-des-2 {
        margin-right: 20px;
        color: darkred;
    }

    .box-description {
        width: auto;
        text-align: center;
        padding: 10px 20px;
        margin: 0; /* Loại bỏ khoảng cách xung quanh văn bản */
    }

        .box-description a {
            text-decoration: none;
            margin: 0px;
        }

    .del {
        text-decoration: line-through;
    }

    .item-sale-container {
        margin: -10px 0px 0px 0px;
        padding: 0px 16.5px 0px 17px;
    }

        .item-sale-container .item-sale-col:first-child {
            padding-right: 6px;
        }

    .item-sale-col {
        width: 50%;
        background-color: #D0011B;
    }

    .item-sale-title {
        justify-content: space-between !important;
        align-items: center;
        padding: 15px 10px 0px 10px;
    }

    .item-sale-container .item-sale-col:first-child {
        padding-right: 6px;
    }

    .item-sale-col {
        width: 50%;
        background-color: #D0011B;
    }
</style>
<div style="display: flex; padding: 0px 0px; flex-direction: column-reverse; ">
    <div style="width: 1270px; padding-top: 10px; margin-right: 50px; box-shadow: 2px 2px #c7c4c4; border-radius: 20px; background-color: #FF5600;font-size:20px;">
        @{Html.RenderAction("CategoryPartial", "DanhMuc");}
    </div>
    <div style="display: flex;">
        <div style="margin-left: 30px;">
            <div class="hero-banner-container">
                <div class="hero-banner">
                    <div id="banner-left" class="w3-content w3-display-container banner-left">
                        <img class="mySlidesA" src="~/Content/images/banner (1).jpg" style="width:100%">

                        <img class="mySlidesA" src="~/Content/images/banner (2).jpg" style="width:100%">
                        <img class="mySlidesA" src="~/Content/images/banner (3).jpg" style="width:100%">
                        <img class="mySlidesA" src="~/Content/images/banner (4).jpg" style="width:100%">

                        <button style=" font-size: 30px;position: relative;top: -130px " ; class="w3-button w3-black w3-display-left" onclick="plusDiv(-1)">&#10094; </button>
                        <button style=" font-size: 30px; position: relative; top: -190px; margin-left: 754px; " ; class="w3-button w3-black w3-display-right" onclick="plusDiv(1)">&#10095;</button>
                    </div>
                    <div class="banner-right">
                        <img src="~/Content/images/baner-phai1.jpg" alt="Alternate Text" />
                        <img src="~/Content/images/baner-phai2.jpg" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="icon-sale-containter">
    <div class="icon-sale-list" style="display: flex; margin-top: 30px; margin-bottom: 70px;">

        <div class="icon-sale" style="width: 100px; height: 70px; margin-left: 43px;">
            <img src="~/Content/images/icon-sale (1).png" alt="Alternate Text" style="width: 70px" />
            <div class="icon-sale-title"><a style="text-decoration: none;color:black" href="#">Khung giờ săn sale</a></div>
        </div>
        <div class="icon-sale" style="width: 100px; height: 70px; margin-left: 43px; ">
            <img src="~/Content/images/icon-sale (2).png" alt="Alternate Text" style="width: 70px" />
            <div class="icon-sale-title"> <a style="text-decoration: none; color: black" href="#">Miễn Phí Ship - Có Shopee</a></div>
        </div>
        <div class="icon-sale" style="width: 100px; height: 70px; margin-left: 43px; ">
            <img src="~/Content/images/icon-sale (3).png" alt="Alternate Text" style="width: 70px" />
            <div class="icon-sale-title"> <a style="text-decoration: none; color: black " href="#">Voucher Giảm Đến 500.000Đ</a></div>
        </div>
        <div class="icon-sale" style="width: 100px; height: 70px; margin-left: 43px; ">
            <img src="~/Content/images/icon-sale (4).png" alt="Alternate Text" style="width: 70px" />
            <div class="icon-sale-title"> <a style="text-decoration: none; color: black" href="#">Hàng Hiệu Outlet Giảm 50%</a></div>
        </div>
        <div class="icon-sale" style="width: 100px; height: 70px; margin-left: 43px; ">
            <img src="~/Content/images/icon-sale (5).png" alt="Alternate Text" style="width: 70px" />
            <div class="icon-sale-title"> <a style="text-decoration: none; color: black" href="#">Mã Giảm Giá</a></div>
        </div>
        <div class="icon-sale" style="width: 100px; height: 70px; margin-left: 43px; ">
            <img src="~/Content/images/icon-sale (6).png" alt="Alternate Text" style="width: 70px" />
            <div class="icon-sale-title"> <a style="text-decoration: none; color: black" href="#">Gì Cũng Rẻ-Deal Sốc 9.000Đ</a></div>
        </div>
        <div class="icon-sale" style="width: 100px; height: 70px; margin-left: 43px; ">
            <img src="~/Content/images/icon-sale (7).png" alt="Alternate Text" style="width: 70px" />
            <div class="icon-sale-title"> <a style="text-decoration: none; color: black" href="#">Nạp Thẻ, Dịch Vụ & Data</a></div>
        </div>
        <div class="icon-sale" style="width: 100px; height: 70px; margin-left: 43px; ">
            <img src="~/Content/images/icon-sale (8).png" alt="Alternate Text" style="width: 70px" />
            <div class="icon-sale-title"> <a style="text-decoration: none; color: black" href="#">Hàng Quốc Tế</a></div>
        </div>
        <div class="icon-sale" style="width: 100px; height: 70px; margin-left: 43px; ">
            <img src="~/Content/images/icon-sale (9).png" alt="Alternate Text" style="width: 70px" />
            <div class="icon-sale-title"> <a style="text-decoration: none; color: black" href="#">Bắt Trend - Giá Sốc</a></div>
        </div>
    </div>
</div>

<div class="flash-sale-container" style="background-color:white; width:1200px; margin-top:20px">
    <div class="flash-sale-top">
        <img src="~/Content/images/flash-sale-banner.jpg" alt="Alternate Text" style="width:1300px" />
        <p style="position: absolute; margin-left: 950px; margin-top: -45px; font-size: 20px; color:white" id="flash-sale-count"></p>
    </div>
    <div class="item-sale-container" style="display: flex;width: 1298.2px;margin-left:1px">
        <div class="item-sale-col">
            <div class="item-sale-title" style="display:flex">
                <h5 style="color:white"> ĐỒ BẠN THÍCH Ở ĐÂY</h5>
                <a style="color:white" href="#"> Xem Thêm ></a>
            </div>
            <div class="item-sale-gallery" style="display:flex">
                <img src="~/Content/images/like_img.png" alt="" style="width: 33.33%; padding: 20px 0px; padding-right: 2px; height: 238px;" />
                <img src="~/Content/images/like_img2.png" alt="" style="width: 33.33%; padding: 20px 0px; padding-right: 2px; height: 238px;" />
                <img src="~/Content/images/like_img3.png" alt="" style="width: 33.33%; padding: 20px 0px; padding-right: 2px; height: 238px;" />
            </div>
        </div>
        <div class="item-sale-col" style="margin-left:-1.2px;">
            <div class="item-sale-title" style="display:flex">
                <h5 style="color:white"> HÀNG HIỆU OUTLET</h5>
                <a style="color:white" href="#"> Xem Thêm ></a>
            </div>
            <div class="item-sale-gallery" style="display:flex">
                <img src="~/Content/images/outlet.png" alt="" style="width: 33.33%; padding: 20px 0px; padding-right: 2px; height: 238px; " />
                <img src="~/Content/images/outlet1.png" alt="" style="width: 33.33%; padding: 20px 0px; padding-right: 2px; height: 238px;" />
                <img src="~/Content/images/outlet2.png" alt="" style="width: 33.33%; padding: 20px 0px; padding-right: 2px; height: 238px;" />
            </div>
        </div>
    </div>
</div>
<div class="white container flash_sale">
    <div class="dflex" style="display:flex">
        <img src="~/Content/images/flashsale.png" alt="Alternate Text" />
        <a href="#" style="margin-left:980px;margin-top:20px">Xem tất cả ></a>
    </div>
    <div>
        <div class="img-pro-count" style="display:flex">
            <img src="~/Content/images/img-count.png" class="img-count" style="width:240px;height:255px" />
            <img src="~/Content/images/img-count1.png" class="img-count" style="width:240px;height:255px" />
            <img src="~/Content/images/img-count2.png" class="img-count" style="width:240px;height:255px" />
            <img src="~/Content/images/img-count4.png" class="img-count" style="width:240px;height:255px" />
            <img src="~/Content/images/img-count1.png" class="img-count" style="width:240px;height:255px" />
            <img src="~/Content/images/img-count3.png" class="img-count" style="width:240px;height:255px" />
        </div>
    </div>
</div>
<div class="container dflex white" style="display:flex; margin-top:20px">
    <img src="~/Content/images/under_flashsale.png" class="under-flashsale" style=" width:425px; height:120px" />
    <img src="~/Content/images/under_flashsale1.png" class="under-flashsale" style=" width:425px; height:120px" />
    <img src="~/Content/images/under_flashsale2.png" class="under-flashsale" style=" width:425px; height:120px" />
</div>
<h2 style="padding:30px 410px;">DANH SÁCH SẢN PHẨM</h2>
@using (Html.BeginForm("Index", "Sach", FormMethod.Get))
{
    <tr>
        <td>
            <div style="display: flex; margin-left: 400px; padding: 30px 0px; ">
                <input name="tensp" type="text" value="" style="border: 0px; border-bottom: 0.5px solid #00000030; margin-left: 20px; width: 900px;height:40px; ">
                <button type="submit" style="display: flex; align-items: center; padding: 5px 30px; border-radius: 10px; border: 1px; background-color: #FF5600;">
                    <i class="fa fa-search" style="font-size: 20px; color: white;"></i>
                    <span style="margin-left: 5px;"></span>
                </button>
            </div>
        </td>
    </tr>
}
@using (Html.BeginForm("Index", "Sach"))
{<text>Từ</text>
<input type="number" name="min" id="min" />
<text>Đến</text>
<input type="number" name="max" id="max" />
<input type="submit" value="Search" />
<div class="container">
</div>
}
<div>
    <div style="display: flex; justify-content: space-between; padding:50px 0px;">
        @foreach (var pro in Model)
        {
            <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3" style="width: 200px; margin-bottom: 30px; padding: 0px; margin-right: 50px; padding-bottom: 10px; border-radius: 20px; box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15); ">
                <div class="card-pro">
                    <a href="@Url.Action("Details","Product", new {id = pro.id})">
                        <img src="@Url.Content(pro.hinhanh)" height="150" width="150" style="border-radius: 16px; width: 200px;" />
                    </a>
                    <p style="padding: 5px 20px">@Html.DisplayFor(model => pro.tensach)</p>
                    <p class="price" style="padding: 5px 20px; color: red; font-weight: 700;">@Html.DisplayFor(model => pro.gia) </p>
                    <a style="padding: 5px 20px; text-decoration: none; color: red; " href="@Url.Action("AddToCart","ShoppingCart", new {id = pro.id})">Buy</a>
                </div>
            </div>
        }
    </div>
</div>
<div style="text-align:center;">
    Trang @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="MenuPage" style=" margin-left: 600px; ">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>


<script>
    var slideIndex = 0;
    showDivs(slideIndex);

    function plusDiv(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlidesA");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
    carousel();
    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlidesA");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) { slideIndex = 1 }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 3000); // Change image every 3 seconds
    }

    document.addEventListener("DOMContentLoaded", function () {
        var priceElements = document.querySelectorAll(".price");

        priceElements.forEach(function (element) {
            var priceValue = element.textContent;
            var formattedPrice = formatPrice(priceValue);
            element.textContent = formattedPrice;
        });

        function formatPrice(price) {
            // Chuyển đổi thành số nguyên
            var integerPart = parseInt(price);
            // Thêm dấu phẩy ngăn cách hàng ngàn
            var formattedPrice = integerPart.toLocaleString("vi-VN");
            // Thêm đơn vị tiền tệ
            formattedPrice += " đ";
            return formattedPrice;
        }
    });


    // Set the date we're counting down to
    var countDownDate = new Date("Oct 10, 2024 24:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor(((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("flash-sale-count").innerHTML = "<span id='counter-text'>Còn " + days + " ngày  </span><span class='count-number'>" + hours + "</span> : <span class='count-number'>"
            + minutes + "</span> : <span class='count-number'>" + seconds + "</span>";
        document.getElementById("flash-sale").innerHTML = "<span class='flash-sale-black'>" + (hours).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false }) + "</span>  <span class='flash-sale-black'>"
            + (minutes).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false }) + "</span>  <span class='flash-sale-black'>" + (seconds).toLocaleString('en-US', { minimumIntegerDigits: 2, useGrouping: false }) + "</span>";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("flash-sale-count").innerHTML = "EXPIRED";
        }
    }, 1000);

</script>
